<div id="home-page">
    <div id="table"></div>
</div>



<div id="add-page">
    <h3>Add Contact</h3>
    <div id="name-group">
        <input type="text" name="name" placeholder="Name">
    </div>

    <div id="email-group">
        <input type="text" name="email" placeholder="Email">
    </div>

    <div id="phone-group">
        <input type="text" name="phone" placeholder="Phone">
    </div>

    <button class="submit" id="add-submitButton">Submit</button>
</div>



<div id="detail-page"></div>



<div id="edit-page">
    <h3>Edit Contact</h3>
    <div id="edit-name-group">
        <input type="text" name="edit-name">
    </div>

    <div id="edit-email-group">
        <input type="text" name="edit-email">
    </div>

    <div id="edit-phone-group">
        <input type="text" name="edit-phone">
    </div>

</div>

