<div id="header">
    <h2>Contact Management</h2>
    <button class="link" id="listButton"><i class="fa fa-bars" aria-hidden="true"></i>List</button>
    <button class="link" id="newButton"><i class="fa fa-plus" aria-hidden="true"></i>New</button>
</div>