<html>
<head>
     <title>Contact Management</title>
    <link href="buttonreset.css" rel="stylesheet" />
    <link href="stylesheet.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="home.js"></script>
</head>
<body>
    <%- include('header') %>
    <%- include('content') %>
</body>
</html>